@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
h1,h2,h3,h4, strong{
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 55px;
    color: #fff;
    line-height: 75px;
}
h2{
    font-size: 45px;
    color: #121212;
}
p{
    color: #707070;
    font-size: 18px;
    line-height: 28px;
}
img{
    width: 100%;
}
.button{
    color: #fff;
    background-color: #EF233C;
    font-size: 20px;
    border-radius: 5px;
    padding: 12px 16px;
    margin-top: 3%;
    display: inline-block;
}
footer h3{
    font-family: 'Lobster', cursive;
    color: #EF233C;
    font-size: 36px;
    line-height: 44px;
}

/* Header Section */
header{
    background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,0)), url(img/header.png) no-repeat center center;
    background-size: cover;
}
.header-text{
    width: 46%;
    padding: 10% 0 10% 15%;
}
.header-text p{
    color: #fff;
}
.header-text a{
    padding-top: 10px;
}

/* Explore Section */
.explore-area-1, .explore-area-2{
    display: flex;
}
.explore-area-1{
    padding: 10% 15% 0%;
}
.explore-area-1 .explore-media{
    position: relative;
}
.explore-area-1 .explore-media>img{
    cursor: pointer;
    width:400px;
    height:500px;
    
}
.play img{
    width: 100px;
    position: absolute;
    top: 40%;
    left: 40%;
}
.explore-area-2{
    padding: 5% 15% 10%;
}
.explore-area-1 .explore-text{
    margin: auto 10% auto 0;
}
.explore-area-2 .explore-text{
    margin: 5% 0% auto 10%;
    width: 45%;
}
.explore-area-2 .explore-text h2{
    width: 80%;
}
.explore-area-2 .explore-media{
    width: 50%;
}
.explore-area-2 img{
    height: 110%;
    filter: grayscale(1);
}
/* Direct Help Section */
.direct-help-heading{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.direct-help-area{
    display: flex;
    justify-content: center;
}
.direct-help{
    display: flex;
    width: 30%;
    margin: 1%;
    padding: 2% 0%;
    background-color: #FEF4F5;
    border-radius: 5%;
}
.direct-help-img{
    width: 70%;
    padding-right: 10%;
    padding-left: 5%;
}
/* Dua Section */
.dua{
    margin: 8%;
    display: flex;
}
.dua img{
    border-radius: 7%;
    width: 33%;
    padding: 1%;
}
/* Zakat Fund Section */
.zakat-fund-section{
    margin: 8%;
}
.zakat-fund-section-text{
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 3% 0;
}
.zakat-fund-area{
    display: flex;
}
.zakat-fund{
    border: 1px solid #D9D9D9;
    margin: 1%;
    border-radius: 2%;
}
.zakat-fund-text{
    padding: 5% 7% 7% 5%;
}
.zakat-fund-text a{
    color: #EF233C;
    font-weight: 600;
}
/* Footer Section */
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 3%;
}
footer p{
    color: #D9DBE1;
    font-size: 14px;
    line-height: 24px;
}